@font-face {
    font-family: 'Work Sans';
    src: url('./src/assets/styles/fonts/Work_Sans_Font/WorkSans-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Work Sans', 'Times New Roman';
    color: white;
    background-color: var(--blue_midnight);
}

:root {
    --blue_midnight: #333645;
    --blue_mignight_hover: #292B37;
    --grey: #5e6276;
    --grey_light: #9FA0AB;
    --yellow: #ffaa06;
    --transition-time: 0.7s;
}

.content_box {
    display: flex;
}

/* ----- HEADER ----- */

.header {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 19.3%;
}

.button_header {
    height: auto;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    transition: background-color var(--transition-time) ease;
    transition: color var(--transition-time) ease;
    width: 82.89px;
    height: 105.19px;
    padding: 0px 19.666px 0px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

/* ----- SELECT/BUTTONS ----- */

select:hover,
.button_header:hover {
    background-color: var(--blue_mignight_hover);
    color: var(--yellow);

}

.button_flat {
    border-radius: 2px;
    border: none;
    color: white;
    padding: 13px 28.69px 14px 29px;
}

.button_flat.yellow {
    background: var(--yellow);
}

.button_flat.dark {
    background: var(--blue_midnight);
}

select {
    height: auto;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    transition: background-color var(--transition-time) ease;
    transition: color var(--transition-time) ease;
    width: 126.34px;
    height: 105.19px;
    padding: 0px 19.666px 0px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    outline: 0;
}

/* ----- HERO ----- */

.hero {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue_mignight_hover);
}

.hero.background_img {
    background: url('./src/assets/styles/images/slide_06.jpg'), lightgray 0px -24.236px / 100% 104.997% no-repeat;
}

.hero h1 {
    width: 100%;
    height: 80px;
    justify-content: center;

    color: #FFF;
    text-align: center;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%;
    letter-spacing: -1px;
}

.hero p {
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0.255px;
}

.hero img {
    display: flex;
    columns: white;
    height: 150px;
}

.hero button {
    padding: 17px 39.659px 17px 40px;
}

.hero_box {
    display: flex;
    flex-direction: column;
    width: 771.03px;
    align-items: center;
    margin-bottom: 70px;
}

/* ----- TELEPHONES ----- */

.telephone {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20%;
    height: 192.89px;
    justify-content: center;
    padding: 0px 19.3%;
}

.telephone.light {
    background: white;
}

.telephone.dark {
    background: var(--blue_midnight);
}

.telephone_item {
    font-style: normal;
    text-align: center;
}

.telephone_item h1 {
    font-size: 17px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 1px;
}

.telephone_item.light h1 {
    color: var(--yellow);
}

.telephone_item.dark h1 {
    color: var(--yellow);
}

.telephone_item p {
    font-size: 26px;
    font-weight: 400;
    line-height: 105%;
    letter-spacing: -1px;
}

.telephone_item.light p {
    color: var(--grey);
}

.telephone_item.dark p {
    color: white;
}

/* ----- MAINTENANCE ----- */

.maintenance {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    padding: 20px 346.4px 25px 346.41px;
}

.maintenance_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0.01px 15px 0px;
}

.maintenance p {
    color: var(--blue_midnight);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%;
    letter-spacing: -1px;
}

.maintenance button {
    padding: 17px 89.849px 17px 90.17px;
}

/* ----- ABOUT US / ELECTRICAL SERVICES / WORK & PROJECTS / TESTIMONIALS ----- */
.hero2 {
    padding: 70px 20px 90px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero2.light {
    background-color: white;
}

.hero2.dark {
    background-color: var(--blue_mignight_hover);
}

.hero2 h1 {
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%;
    letter-spacing: -1px;
}

.hero2.light h1 {
    color: var(--blue_midnight);
}

.hero2.dark h1 {
    color: white;
}

.hero2 p {
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.255px;
}

.hero2.dark p {
    color: var(--grey_light);
}

.hero2.light p {
    color: var(--grey);
}

.hero2.about_us_img {
    background: url('./src/assets/styles/images/about.jpg'), lightgray -267.174px 0px / 127.831% 100% no-repeat;
}

.hero2.work_projects_img {
    background: url('./src/assets/styles/images/work-bg.jpg'), lightgray -267.174px 0px / 127.831% 100% no-repeat;
}

.hero2.our_blog_img {
    background: url('./src/assets/styles/images/news.jpg'), lightgray -267.174px 0px / 127.831% 100% no-repeat;
}


/* ABOUT US Cards */
.about_us_card_box {
    align-items: center;
    display: flex;
}

.card_link {
    text-decoration: none;
}

.card {
    width: 371.75px;
    margin: 0 10px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.card_hold_text {
    display: flex;
    flex-direction: column;
    padding: 10% 10% 10%;
    align-items: center;
}

.card.dark {
    background-color: var(--blue_midnight);
}

.card:hover h1 {
    color: var(--yellow);
    transition: var(--transition-time);
}

.card h1 {
    color: var(--blue_midnight);
    font-size: 24px;
}

.card.dark h1 {
    color: var(--yellow);
    font-size: 24px;
}

.hero2.light .card p {
    color: var(--grey_light);
}

.card_icon {
    width: 64px;
    height: 64px;
}

.card_icon.es {
    width: 42px;
    height: 42px;
}

.card_icon_circle {
    border-radius: 100%;
    border: 3px solid var(--yellow);
    padding: 5%;
}

.content_box.wp a{
    padding: 7px;
}

.wp_img_grid_top{
    display: flex;
}

.wp_img_grid_top_center{
    display: grid;
}

.wp_img_grid_bottom a{
    margin: 4px;
}

#wp_img_1 {
    width: 283.75px;
    height: 478px;
}

#wp_img_1 {
    width: 283.75px;
    height: 478px;
}

#wp_img_2 {
    width: 582.5px;
    height: 231.5px;
}

#wp_img_3 {
    width: 582.5px;
    height: 231.5px;
}

#wp_img_4 {
    width: 283.75px;
    height: 478px;
}

#wp_img_5 {
    width: 582.5px;
    height: 478px;
}

#wp_img_6 {
    width: 582.5px;
    height: 478px;
}

/* ----- TESTIMONIALS ----- */

.testimonials p {
    color: white;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 2px;
}

.testimonials strong {
    color: var(--yellow);
}

.hero_box.t {
    margin-bottom: inherit;
}

/* ----- ELECTRICAL SERVICES ----- */

.es_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.es_grid_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350.19px;
    height: 346.55px;
}

.es_grid_item h1 {
    font-size: 26px;
}

/* ----- FREE QUOTE ----- */
.free_quote {
    background-color: var(--blue_mignight_hover);
    padding: 60px 346.4px 60px 346.41px;
    justify-content: space-between;
}

.free_quote_item {
    display: flex;
    flex-direction: column;
}

.free_quote_item h1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 23.471px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    /* 116.314% */
    letter-spacing: -1px;
}

.free_quote_item p {
    color: #FFF;
    text-align: left;
    font-size: 15.346px;
    letter-spacing: 0.255px;
}

.free_quote input {
    border-radius: 2px;
    border: none;
    width: 321.86px;
    height: 44px;
}

input[type="submit"] {
    background-color: var(--yellow);
    color: white;
    border: none;
    cursor: pointer;
}

.form_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 26px;
    grid-row-gap: 26px;
}

/* ----- FOOTER ----- */
.footer {
    background-color: var(--blue_mignight_hover);
    display: flex;
    justify-content: center;
}

.footer_box {
    display: flex;
    grid-gap: 20%;
    padding: 15px 0px 15px 0px;
}

.footer h1 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%;
    letter-spacing: -1px;
}

.footer a,
p {
    color: var(--grey_light);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.24px;
    text-align: center;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    transition: var(--transition-time);
    color: var(--yellow);
}

.footer_column {
    display: flex;
    width: 361.97px;
    height: 313.78px;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
    gap: 15px;
}

.footer_acreditation {
    height: 213px;
    width: 213px;
}

/* ----- RIGHTS ----- */
.rights {
    color: var(--grey_light);
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.255px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.rights strong {
    color: var(--yellow);
    font-weight: normal;
}

/* ----- EXTRAS ----- */
.title_underline {
    width: 185.05px;
    height: 2px;
    flex-shrink: 0;
}

.title_underline.grey {
    border-top: 2px solid var(--grey);
}

.title_underline.yellow {
    border-top: 2px solid var(--yellow);
}

.profile_picture {
    margin-top: 5%;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.dots_container {
    display: flex;
}

.dots {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 100%;
    margin: 10%;
}

.dots.filled {
    background: var(--yellow);
    border: 1px solid var(--yellow);
}

.dots.empty {
    border-radius: 6px;
    border: 1px solid var(--yellow);
}

.social_media_container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
}

.social_media_circle {
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 12px;
}

.arch_bottom_white {
    width: 100%;
    background-color: var(--blue_mignight_hover);
}